html{
    font-family: Helvetica, sans-serif;
}

nav{
    display: inline-block;
}

header{
    border-bottom: 2px solid rgb(68, 66, 66);
}

h1{
    text-transform: uppercase;
    display: inline-block;
}

li {
    display: inline-block;
    padding: 20px;
    
}
a{
    text-decoration: none;
    color: green;
}
