body {
  background-color: lightgray;
}

article {
  background-color: lightcyan;
  min-width: 10%;
  max-width: 80%;

  height: 150px;
  max-height: 300px;

  overflow: hidden;
}

article h2{
    padding: 6px;
}
